<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CREDIT_CARD_ACCESS_KEY" value="3e33bd9594a83d2e9b7e213d68d6dc57" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CREDIT_CARD_SECRET_KEY" value="97f0f04603c0452c8f69253a92edb062cabede1367f04f2d8852eaab4efe998a6e0badaa221b4badbd98a4581434b3cff4eaa689441548ae909c998a89761020ee62b55065814d8a86fb8790019e993c2f220145cd8a4dd08ae47b49753938269790848f254846d18e56b7076375f1e7f72be62e71644c1a8e752225523ea27a" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CREDIT_CARD_PROFILE_ID" value="A75FDF7D-AC0E-4406-9F8F-5F32AD831256" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CREDIT_CARD_URL" value="https://secureacceptance.cybersource.com/pay" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
  <connectionStrings xdt:Transform="Replace">
    <add 
      connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;
        provider=System.Data.SqlClient;
        provider connection string=&quot;
        data source=localhost;
        initial catalog=ECom01DevelopPush;
        persist security info=True;
        Integrated Security=SSPI;
        MultipleActiveResultSets=True;
        App=EntityFramework&quot;"
      name="Database_MainEntities1" 
      providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" 
      xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>