@using Git_system.MultiResources;

<footer id="footer" class="container-fluid block">
    <div style="background-color:#2b3c94; padding-top:1em;" class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-16">
                    <ul class="list-inline">
                        <li><a href="http://www.git.or.th/2014/privacy.html">@Multi.LayoutFrontend_String8</a></li>
                    </ul>

                    <hr />

                    <ul class="list-unstyled">
                        <li>@Multi.LayoutFrontend_String10</li>
                        <li>@Multi.LayoutFrontend_String11</li>
                        <li>@Multi.LayoutFrontend_String12</li>
                        <!--BEGIN WEB STAT CODE---->
                        <script language="javascript1.1"> page = "eservice";</script>
                        <script language="javascript1.1" src="http://hits.truehits.in.th/data/e0008203.js"></script>
                        <iframe src="http://monitor.truehits.net/uptime.php?id=e0008203" width="80" height="17" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
                    </ul>
                </div>
                <div class="col-sm-8 text-center">
                    <a href="https://www.facebook.com/pages/The-Gem-and-Jewelry-Institute-of-Thailand/121620881208322" target="_blank" id="follow-facebook">
                        <img src="~/Images/Facebook.png" class="img-responsive display-inline" style="padding-top:3em;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="height:20px; background-color:#273685;">
    </div>
</footer>