@{
    ViewBag.Title = "ChangeLanguageType";
}

<h2>ChangeLanguageType</h2>

<script>
    window.setTimeout(function () {
        window.location.href = '@Url.Action("Index","Home",null)';
    }, 1);
</script>